.slide_container {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

h3 {
  text-align: center;
}

.each_slide>img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.each_slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each_fade {
  display: flex;
}

.each_fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each_fade .image-container img {
  width: 100%;
}

.each_fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}